body{
    background-color: powderblue;
}
h1{
    text-align: center;
    color: brown;
    font-size: 30px;
}
h2{
    color: red;
    font: size 25px;
}
h3{
    background-color: darkorange;
}
p{
    color: blue;
}